
<ion-content>
  <div class="ion-text-center" style="height: 18%; background-color:rgb(70,134,170); align-items: center; justify-content: center;">

    <img src="../../assets/images/siren.png" style="height: 100px; width: auto; margin-top: 15px;" alt="">
    <br><br>

  </div>

  <div class="login-container" style="height: 77%;">

    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-select placeholder="Seleccione un usuario" [(ngModel)]="selectedUser" (ionChange)="seleccionarUsuario(selectedUser)">
              <ion-select-option *ngFor="let usuario of listaUsuarios" [value]="usuario">{{usuario.email}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Email</ion-label><br>
          <ion-input [(ngModel)]="user.email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Clave</ion-label><br>
          <ion-input [(ngModel)]="user.password" type="password"></ion-input>
        </ion-item>
        <ion-button  shape="round" color="success" (click)="onLogin()">Ingresar</ion-button>
      </ion-card-content>

      <div *ngIf="mostrarSpinner" class="ion-text-center spinner">
        <img src="../../assets/images/siren.png" style="height: 50px" alt="">


      </div>
      <br><br>
    </ion-card>

    
  </div>
  <div style="background-color: rgb(70,134,170); height: 5%">
   
  </div>
</ion-content>